div.optionsBox {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
  position: absolute;
  background: #fff;
  border: solid 1px #ccc;
}

div.optionsBox a{
  color: black;
  padding: 2px;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
  text-align: left;
  white-space: normal;
  width: 100%;
  font-size:8px;
}

div.optionsBox a:hover{
  background-color: #cce6ff;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
